<header class="menu">
  <div class="menu__wrapper">
    <div class="menu__content">

    <%# Logo button %>

    <div class="menu__button">
        <a href="/" class="menu__logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 304.5 148.8" width="80">
            <path d="M47.1 53.4H15.6c-1.4 0-2.6-1.2-2.6-2.6V25.3c0-1.4 1.2-2.6 2.6-2.6h31.5c1.4 0 2.6 1.2 2.6 2.6v25.5c0 1.4-1.1 2.6-2.6 2.6zM59.7 57.5h15.4c1.4 0 2.6-1.2 2.6-2.6v-35c0-1.5-1.2-2.6-2.7-2.6l-17.8.4c-1.5 0-2.6 1.3-2.5 2.8l2.4 34.6c.1 1.3 1.2 2.4 2.6 2.4zM36.8 85.5l-17.3-2.7c-1.3-.2-2.2-1.3-2.2-2.6l-.2-17.4c0-1.5 1.2-2.6 2.6-2.6h17.6c1.5 0 2.6 1.2 2.6 2.6l-.2 20.1c.1 1.6-1.3 2.8-2.9 2.6zM79.1 89.3H48.5c-1.4 0-2.6-1.2-2.6-2.6V68.6c0-1.5 1.2-2.6 2.6-2.6l28.4.4c1.3 0 2.4 1 2.6 2.3l2.3 17.7c.1 1.5-1.1 2.9-2.7 2.9zM98.6 101.4l-11.9.1c-1.7 0-2.9-1.5-2.6-3.1L87 83.9c.2-1.2 1.3-2.1 2.6-2.1h9c1.4 0 2.6 1.2 2.6 2.6v14.4c0 1.4-1.1 2.6-2.6 2.6zM99.3 69.9H88.9c-1.4 0-2.6-1.2-2.6-2.6V19.4c0-1.4 1.2-2.6 2.6-2.6h18.8c1.6 0 2.9 1.5 2.6 3.1l-8.5 47.9c-.2 1.2-1.3 2.1-2.5 2.1zM121.9 81.8l-12.3-.1c-1.6 0-2.8-1.4-2.6-2.9l3.5-28.3c.2-1.3 1.3-2.3 2.6-2.3h8.8c1.4 0 2.6 1.2 2.6 2.6v28.5c0 1.3-1.2 2.5-2.6 2.5zM156.9 85.5H133c-1.4 0-2.6-1.2-2.6-2.6v-33c0-1.4 1.2-2.6 2.6-2.6h23.9c1.4 0 2.6 1.2 2.6 2.6V83c0 1.4-1.2 2.5-2.6 2.5zM136.9 123h-26c-1.4 0-2.6-1.2-2.6-2.6V94.8c0-1.4 1.2-2.6 2.6-2.6h26c1.4 0 2.6 1.2 2.6 2.6v25.6c0 1.4-1.2 2.6-2.6 2.6zM200.2 39.8h-70c-1.4 0-2.6-1.2-2.6-2.6v-25c0-1.4 1.2-2.6 2.6-2.6l60.4.2c1.1 0 2 .7 2.4 1.7l9.5 24.7c.8 1.7-.5 3.6-2.3 3.6zM199.7 73.5l-22.4-.2c-1.7 0-3-1.7-2.5-3.3l5.9-20.4c.3-1.1 1.3-1.9 2.5-1.9h16.6c1.4 0 2.6 1.2 2.6 2.6v20.6c0 1.4-1.2 2.6-2.7 2.6zM191.8 109.7h-23.5c-1.4 0-2.6 1.2-2.6 2.6v13.1c0 1.4 1.2 2.6 2.6 2.6h23.5c1.4 0 2.6-1.2 2.6-2.6v-13.1c0-1.4-1.1-2.6-2.6-2.6zM212.4 105.4l-9.1.1c-1.4 0-2.6 1.2-2.6 2.6v26c0 1.4 1.2 2.6 2.6 2.6h7.2c1.4 0 2.5-1.1 2.6-2.4l1.9-26.2c.2-1.5-1.1-2.8-2.6-2.7zM201.8 97.6h-32.2c-1.4 0-2.6-1.2-2.6-2.6V83.2c0-1.4 1.2-2.6 2.6-2.6h32.2c1.4 0 2.6 1.2 2.6 2.6V95c0 1.5-1.1 2.6-2.6 2.6zM236.8 54.5l-21.9-.3c-1.4 0-2.6-1.2-2.6-2.6l-.2-27.1c0-1.4 1.2-2.6 2.6-2.6H261c2.2 0 3.4 2.7 2 4.3l-24.2 27.4c-.5.6-1.3.9-2 .9zM238.6 87l-24.1-.2c-1.4 0-2.6-1.2-2.6-2.6V69c0-1.4 1.2-2.6 2.6-2.6H237c1.3 0 2.5 1 2.6 2.3l1.6 15.4c.2 1.6-1.1 2.9-2.6 2.9zM246.8 58.2l9-5.9c1.7-1.1 4 .1 4 2.2L260 84c0 1.4-1.1 2.6-2.6 2.6l-6.5.1c-1.3 0-2.5-1-2.6-2.3l-2.7-23.7c-.1-1 .4-1.9 1.2-2.5zM268.9 41.2h9.9c1.4 0 2.6 1.2 2.6 2.6l.2 16.6c0 1.5-1.2 2.6-2.6 2.6h-8.5c-1.3 0-2.5-1-2.6-2.4L266.3 44c-.1-1.5 1.1-2.8 2.6-2.8zM272.3 35l14.2.4c1.5 0 2.7-1.1 2.7-2.6v-8.2c0-1.4-1.1-2.6-2.6-2.6l-9.5-.1c-.9 0-1.8.5-2.3 1.3l-4.7 7.9c-1 1.7.2 3.9 2.2 3.9zM156.3 95.3l-8.9-.2c-1.8 0-3.1 1.6-2.6 3.3l3.7 13.7c.3 1.2 1.4 2 2.6 1.9l5.2-.2c1.4-.1 2.5-1.2 2.5-2.6V97.9c.1-1.4-1.1-2.6-2.5-2.6z"/>
        </svg>

        <span class="menu__text">CTT</span>
        </a>
      </div>

      <%# Menu items %>

      <nav class="menu__nav">
        <div class="menu__dropdown">
          <select class="dropdown dropdown_loading" data-javascript="menu-dropdown">
            <%- !!routes.find(({ url }) => url === currentUrl) ? '' : '<option disabled selected>Navigate to:</option>'%>
            <% routes.forEach(({ url, title }) => { %>
              <option value="<%= url %>" <%= url === currentUrl ? 'selected' : '' %>>
                  <%= title %>
              </option>
            <% }); %>
          </select>
        </div>

        <ul class="menu__list">
          <% routes.forEach(({ url, title }) => { %>
            <li class="menu__item">
                <<%= url === currentUrl ? 'span' : 'a' %>
                    rel="prerender"
                    class="menu__link <%= url === currentUrl ? 'menu__link_disabled' : '' %>"
                    <%= url === currentUrl ? '' : `href=${url}` %>
                >
                    <%= title %>
                </a>
            </li>
          <% }); %>
        </ul>
      </nav>

    </div>
  </div>
</header>