<!doctype html>
<html lang="<%= millimetr.globals.language %>">
<%- include('../includes/head', { title: millimetr.globals.title, description: millimetr.globals.description }) %>

<body>
  <div class="layout">
    <%- include('../includes/menu', { routes: millimetr.internals.routes.all, currentUrl: millimetr.internals.routes.active.url }) %>

    <main class="layout__content">
      <%- include('../includes/title.ejs', { icon: 'rocket', text: ['Getting', 'Started'] }) %>
      <p>
        Organising your community into an effective, action-based community support network isn’t easy. People have their own stresses and worries, and can be resistant to volunteering their time and energy. However, with a bit of positivity, energy and organisation, these barriers are easily overcome. Once you get going, you will be amazed at the energy and commitment your community has to offer. Here are some basic principles to get you started.
      </p>
      <details>
        <summary>
          <h3>Getting organized</h3>
        </summary>
        <p>As soon as possible allocate key roles to CAN members and decide on a communication strategy</p>
      </details>
    </main>

    <%- include('../includes/footer') %>
  </div>
</body>

</html>