<!doctype html>

<html lang="<%= millimetr.globals.language %>">
  <%- include('../includes/head', { title: millimetr.globals.title, description: millimetr.globals.description }) %>

  <body>
    <div class="layout">
      <%- include('../includes/menu', { routes: millimetr.internals.routes.all, currentUrl: millimetr.internals.routes.active.url }) %>

      <main class="layout__content">
        <div class="homepage">

          <%# Hero %>

          <div class="homepage__hero">
            <div class="homepage__background">
              <div class="homepage__fade">
                <h1 class="homepage__banner">
                  <span class="homepage__title">Cape Town </span>
                  <span class="homepage__title homepage__title_highlight">Together</span>
                </h1>
              </div>
            </div>

            <p class="homepage__subtitle">CCT is a network of Community Action Networks responding to the Covid-19 crisis in South Africa.</p>
          </div>

          <%# Sections %>

          <% sections.forEach(({ title, icon, rocket, overview, type, buttons }) => { %>
            <hr class="homepage__divider">

            <div class="homepage__section">
              <%- include('../includes/title', { icon, text: [title], hierarchy: 2 }) %>

              <ul class="homepage__list">
                <% if (overview !== '') { %>
                  <li class="homepage__item">
                    <p class="homepage__blurb"><%= overview %></p>
                  </li>
                <% } %>

                <% if (type === 'embedded-search') { %>
                  <li class="homepage__item">
                    <div class="homepage-search">
                      <div class="search" data-search>
                        <div class="search__overlay" data-search-overlay></div>

                        <div class="search__content">
                          <div class="search__row">
                            <input name="search" class="search__input" data-search-input placeholder="" disabled />
                          </div>

                          <ul class="search__list" data-search-list="<%= JSON.stringify(groups) %>"></ul>
                        </div>
                      </div>
                    </div>
                  </li>
                <% } %>
  
                <% buttons.forEach(({ label, url,newTab }) => { %>
                  <li class="homepage__item">
                    <%- include('../includes/button', { href: url, label, target: newTab ? '_blank' : '_self', variant: 'default' }) %>
                  </li>
                <% }); %>
              </ul>
            </div>
          <% }); %>
        <div>
      </main>
    </div>
  </body>
</html>
